

<div style="text-align: center;">

    <img style="width: 250px; height: 250px" src="https://static.vecteezy.com/system/resources/previews/003/510/336/non_2x/single-one-line-drawing-of-open-notepad-paper-back-to-school-minimalist-education-concept-continuous-simple-line-draw-style-design-graphic-illustration-vector.jpg" alt="notepad">

    <h1>"Welcome to GetItDone, <%= @user. first_name %> <%= @user. last_name %>!<br>We're glad you're here."</h1>

    <p>
    You have successfully signed up to GetItDone,
    your username is: <%= @user.username %>!.<br>
    </p>

    <p>Let us know if you have any questions.</p>

    <h3>Click the button below to verify your account</h3>

    <a style="background-color: #f44336;
    width: 250px;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: inline-block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;" href="http://localhost:4000/profile" target="_blank">Confirm Account</a>

    <hr style="border-top: 3px solid #bbb">

    <span style="margin-top: 100px"></span>

    <h1 style="text-align: center; font-style: Serif;">All you tasks in one organised, easy to navigate place</h1>
    <div style="text-align: center;">
    <div style="display: flex;">
        <img style="text-align: center; width: 200px; height: 200px; text-align: center;" src="https://thumbs.dreamstime.com/b/kawaii-notepad-office-cute-cartoon-isolated-icon-white-background-vector-illustration-179587142.jpg" alt="notes">

        <p style="text-align: center; width: 300px; height: 200px; text-align: center;">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."</p>
    </div>
    <h1 style="text-align: center;">Add alerts to your tasks</h1>
    <div style="display: flex;">
        <img style="text-align: center; width: 200; height: 200; text-align: center;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhdB59_7XtQHoy7Mq6YVwqoMKlqyhgoNWG_g&usqp=CAU" alt="alarm clock">

        <p style="text-align: center; width: 300px; height: 200px; text-align: center;">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."</p>
    </div>

        <a style="background-color: #f44336;
        width: 250px;
        margin: 10px;
        padding: 15px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: inline-block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #f09819;
        background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;" href="http://localhost:4000/" target="_blank">Add Your First Task!</a>
    </div>

</div>

