

<div style="text-align: center;">

    <h1>"Welcome to GetItDone, <%= @user. first_name %> <%= @user. last_name %>!<br>We're glad you're here."</h1>

    <p>
    You have successfully signed up to GetItDone,
    your username is: <%= @user.username %>!.<br>
    </p>

    <p>Let us know if you have any questions.</p>

    <h3>Click the button below to verify your account</h3>

    <a style="background-color: #f44336;
    width: 250px;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: inline-block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #A3A3FF 0%, #7879FF  51%, #0000FF  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;" href="http://localhost:4000/profile" target="_blank">Confirm Account</a>

    <hr style="border-top: 3px solid #bbb">

    <span style="margin-top: 100px"></span>

    <h1 style="text-align: center; font-style: Serif;">All you tasks in one organised, easy to navigate place</h1>
    <div style="text-align: center;">
    <div style="display: flex;">
        <img style="width: 200px; height: 200px; text-align: center;" src="https://thumbs.dreamstime.com/b/kawaii-notepad-office-cute-cartoon-isolated-icon-white-background-vector-illustration-179587142.jpg" alt="notes">

        <p style="text-align: center; width: 550px; height: 200px; text-align: center;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et netus. Ac auctor augue mauris augue neque gravida in fermentum. Aliquam nulla facilisi cras fermentum odio. Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Nisl suscipit adipiscing bibendum est. Sapien faucibus et molestie ac. Cum sociis natoque penatibus et. Nulla facilisi cras fermentum odio eu. Euismod in pellentesque massa placerat duis ultricies lacus sed turpis.

        Fames ac turpis egestas integer eget aliquet nibh praesent. Urna duis convallis convallis tellus id interdum velit laoreet. Varius quam quisque id diam vel quam elementum pulvinar etiam. Ac turpis egestas maecenas pharetra convallis posuere morbi. Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Commodo viverra maecenas accumsan lacus vel facilisis volutpat."</p>
    </div>
    <h1 style="text-align: center;">Add alerts to your tasks</h1>
    <div style="display: flex;">
        <img style="width: 200; height: 200; text-align: center;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhdB59_7XtQHoy7Mq6YVwqoMKlqyhgoNWG_g&usqp=CAU" alt="alarm clock">

        <p style="text-align: center; width: 550px; height: 200px; text-align: center;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et netus. Ac auctor augue mauris augue neque gravida in fermentum. Aliquam nulla facilisi cras fermentum odio. Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Nisl suscipit adipiscing bibendum est. Sapien faucibus et molestie ac. Cum sociis natoque penatibus et. Nulla facilisi cras fermentum odio eu. Euismod in pellentesque massa placerat duis ultricies lacus sed turpis.

        Fames ac turpis egestas integer eget aliquet nibh praesent. Urna duis convallis convallis tellus id interdum velit laoreet. Varius quam quisque id diam vel quam elementum pulvinar etiam. Ac turpis egestas maecenas pharetra convallis posuere morbi. Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Commodo viverra maecenas accumsan lacus vel facilisis volutpat."</p>
    </div>
        <a style="background-color: #f44336;
        width: 250px;
        margin: 20px;
        padding: 15px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: inline-block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #f09819;
        background-image: linear-gradient(45deg, #A3A3FF 0%, #7879FF  51%, #0000FF  100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;" href="http://localhost:4000/" target="_blank">Add Your First Task!</a>
    </div>

</div>

